/* Global reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif, Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}

/* Header section */

.header__container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 4rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  background-color: #fff;
  z-index: 1000;
}

.header__btn {
  padding: 0.5rem 0.5rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
  margin-right: 1.5rem;
}

.header__btn:hover {
  background-color: rgb(247, 247, 247);
}

.header__btn:active {
  outline: none;
}

.icon-1 {
  font-size: 1.5rem;
  color: #121212;
  margin-left: 1.5rem;
}

.icon-2 {
  font-size: 1.5rem;
  color: #121212;
}

.header__text {
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: inline;
}

.header__text:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #121212;
}

.header__left-panel {
  display: flex;
  align-items: center;
  width: 40rem;
}

.logo__container {
  position: fixed;
  left: 50%;
  top: 0.1rem;
  transform: translateX(-50%);
}

.logo_img {
  width: 20rem;
}

.button__container {
  width: 40rem;
  display: flex;
  flex-direction: row-reverse;
}

.btn {
  background-color: rgb(50, 104, 145);
  color: white;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.btn-mar {
  margin-right: 1.5rem;
}

.btn:active {
  outline: none;
}

.btn:hover {
  cursor: pointer;
}

.btn:last-child {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

/* Header section ends here */

/* article section */

.article__start {
  margin: auto;
  align-items: center;
}

article h1 {
  text-align: center;
  margin: 10rem 0 3rem 0;
  font-weight: 900;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 3px;
  color: #121212;
}

.article__top {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.article__img-top {
  height: auto;
  width: 100%;
}

.article__top h3 {
  margin-top: 1rem;
  font-weight: 500;
  color: #666;
  width: 70%;
  font-size: 1.3rem;
}

.author__name {
  cursor: pointer;
  font-size: 1rem;
}

.main__article {
  width: 60rem;
  margin: auto;
  font-size: 1.9rem;
  word-spacing: 0.5px;
  line-height: 1.3;
  text-justify: inter-word;
  font-weight: 500;
  color: #121212;
}

.main__article-heading {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.main__article-heading a {
  color: #333;
  text-decoration: underline;
}

.main__article-heading a:hover {
  text-decoration: none;
}

.article__date {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.main__article-sub {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.article__details {
  margin: 2rem 0;
}

.article__details p {
  margin-bottom: 1.5rem;
}

.social-icon {
  color: #121212;
  margin-right: 1rem;
}

.fa-bookmark {
  font-size: 2.5rem;
  color: grey;
}

.fa-comment-alt {
  font-size: 2.5rem;
  color: grey;
}

.inflation__section {
  margin-left: auto;
  margin-right: auto;
  width: 90rem;
  position: relative;
}

.inflation__section h3 {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.inflation__section span {
  font-size: 1.2rem;
  color: #666;
}

.inflation__section p {
  width: 20rem;
  font-size: 1.1rem;
}

.first-row {
  position: absolute;
  top: 22rem;
}

.second-row {
  position: absolute;
  top: 48rem;
}

.inflation__section-p1 {
  left: 0;
}

.inflation__section-p2 {
  left: 23rem;
}

.inflation__section-p3 {
  left: 46rem;
}

.inflation__section-p4 {
  left: 68rem;
}

.inflation__section-p6 {
  left: 23rem;
}

.inflation__section-p7 {
  left: 46rem;
}

.inflation__section-p8 {
  left: 68rem;
}

.inflation__Section-img {
  width: 90rem;
}

.cosmos {
  margin-left: auto;
  margin-right: auto;
  width: 90rem;
}

.cosmos-img {
  cursor: pointer;
  width: 90rem;
}

.cosmos-text {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.5;
}

.article__end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__end-links {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.article__end-links:hover {
  text-decoration: underline;
}

.article__end-btn {
  cursor: pointer;
  padding: 1rem 9rem;
  background-color: rgb(50, 104, 145);
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 1.1px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
}

.article__end-icons {
  color: black;
  margin-left: 1rem;
}

.article__end-text {
  font-size: 1rem;
  color: #666;
  margin: 2rem 0 2rem 0;
}

/* end article section */

/* Suggested News section */

.suggested {
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 10rem 20rem;
  padding-bottom: 3rem;
  column-gap: 4rem;
}

.suggested-news {
  border-top: 1px solid #121212;
  border-bottom: 1px solid #121212;
  padding-bottom: 2rem;
}

.suggested-news h2 {
  font-size: 1.6rem;
  color: #121212;
  text-transform: capitalize;
  margin: 2rem 0;
}

.row-1 {
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.row-2 {
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.newsletter__main {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  padding-bottom: 5rem;
  border-bottom: 1px solid #121212;
}

.newsletter__main:not(:last-child) {
  margin-right: 1.5rem;
}

.newletter__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newletter-link {
  text-decoration: none;
  color: #777;
}

.card {
  position: relative;
  cursor: pointer;
  height: 33rem;
  width: 30rem;
  background-color: #fff;
  border: 1px solid rgb(228, 228, 228);
  padding: 2rem;
}

.card:hover {
  box-shadow: 0.2rem 0.6rem 1rem rgba(0, 0, 0, 0.1);
}

.card__img {
  width: 10rem;
}

.card__img-text-1 {
  font-size: 1.3rem;
  color: #121212;
  margin-top: 1rem;
}

.card__img-text-2 {
  font-size: 1.5rem;
  color: #121212;
  margin-top: 0.2rem;
  font-weight: bold;
}

.card__img-text-3 {
  font-size: 1.5rem;
  color: #121212;
  margin-top: 1rem;
}

.card-link {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  font-size: 1.5rem;
}

.card-link-a {
  text-decoration: none;
  color: rgb(50, 104, 145);
}

.suggested-img {
  width: 30rem;
  cursor: pointer;
}

.suggested-title {
  width: 30rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.suggested-title-a {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #121212;
}

.suggested-title-a:hover {
  color: #666;
}

.popular {
  border-top: 1px solid #121212;
  border-bottom: 1px solid #121212;
  padding: 2rem 0;
}

.popular h2 {
  font-size: 1.6rem;
  color: #121212;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.popular__link {
  text-decoration: none;
  font-weight: 600;
  color: #121212;
}

.popular__link:hover {
  color: #333;
}

.popular__list > p {
  font-size: 1.8rem;
  border-top: 1px solid rgb(207, 207, 207);
  padding: 1.5rem 0;
}

/* Suggested News section ends here */

/* editor section */

.editor {
  margin-left: 20rem;
  margin-bottom: 5rem;
}

.editor h2 {
  margin-bottom: 2rem;
}

.editor__list > div {
  float: left;
}

.editor__list > div:not(:last-child) {
  margin-right: 2rem;
}

.editor-img {
  width: 35rem;
}

.editor__list-title {
  width: 30rem;
  margin: 1rem 0;
}

.editor__list-title-a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #121212;
}

.editor__list-title a:hover {
  color: #666;
}

/* editor section ends here */

/* footer section */

footer {
  clear: both;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 150rem;
  padding-top: 5rem;
  margin-top: 5rem;
}

.footer__img {
  width: 25rem;
  position: relative;
  top: 0;
  left: -1rem;
}

.footer__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(221, 221, 221);
  padding-top: 1rem;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.footer__list-sub {
  list-style: none;
  margin-top: 1rem;
}

.footer-bold {
  border-left: 1px solid rgb(224, 224, 224);
  padding-left: 2rem;
}

.footer-underline {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.footer-underline-a {
  text-transform: capitalize;
  text-decoration: none;
  color: #121212;
}

nav {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.footer-end {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  margin-bottom: 5rem;
}

.footer-end-a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #777;
  text-transform: capitalize;
}

.footer__list-sub-a {
  text-decoration: none;
  color: #121212;
  text-transform: capitalize;
}

.footer-end > a:hover {
  text-decoration: underline;
}

.footer__list-sub li {
  margin-top: 1rem;
}

.footer__list-sub > li > a:hover {
  text-decoration: underline;
}

.footer-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5rem;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-bottom-text {
  font-size: 1.5rem;
}

.last-a {
  text-decoration: none;
  color: #121212;
}

.last-a:hover {
  text-decoration: underline;
  color: #666;
}

/* footer section ends here */
